{% extends 'store/base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}


{% block content %}

<h3>Сброс пароля</h3>
{% if validlink %}
<p>Пожалуйста, введите свой новый пароль дважды</p>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Изменить пароль"></p>
</form>
{% else %}
<p>
    Ссылка для сброса пароля была недействительной.
    Пожалуйста, запросите сброс нового пароля.
</p>
{% endif %}

{% endblock %}


<!--удален header-->
<!--удален footer-->
